# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/resume-agent
**/__pycache__/

backend/app/personality/memories.json
LLM-build/Modelfile

backend/app/services/voice/checkpoints_1226

backend/app/services/voice/outputs/test.wav
backend/app/services/voice/outputs/tmp.wav
backend/app/services/voice/outputs/response.wav
backend/app/services/voice/resources/training-audio-v2.mp3
backend/app/services/voice/resources/voice-training.mp3
backend/app/services/voice/resources/Recording.m4a
backend/processed
backend/app/services/voice/checkpoints

backend/notebooks

backend/app/services/voice/outputs

# gpu-dep lock file
backend/services/personality/conda-linux-64.lock

# run logs and files backend
backend/logs
backend/.pids
